* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden; /* important : pour forcer JS à gérer le scroll */
  font-family: sans-serif;
}

.container {
  height: 100vh;
  overflow: hidden;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  transition: background 0.5s ease;
}

.intro {
  display: flex;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.image-box {
  height: 100%;
  flex-shrink: 0;
}

.image-box img {
  height: 100%;
  width: auto;
  display: block;
  object-fit: cover;
}

.content-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  height: 100%;
  background-color: #0a0a0a;
  color: white;
}

.about { background: #2a2a2a; }
.projects { background: #333; }
.skills { background: #444; }
.contact { background: #555; }


.video-letter {
  position: relative;
  display: inline-block;
  font-size: 2rem; /* Ajuste selon la taille du texte */
}

.video-on-letter {
  position: absolute;
  top: -0.8em;
  left: 4.2;
  width: 1em;
  height: 1em;
  transform: scale(5.5); /* grossit la vidéo de 50% */
  transform-origin: center;
  pointer-events: none;
}


.arrow-down {
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 40px solid white;
            position: relative;
            animation: moveUpDown 2s infinite alternate;
            margin-top: 30%;
        }

        @keyframes moveUpDown {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-20px);
            }
        }