/* Reset de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  /* oll-behavior: smooth; */
  font-family: sans-serif;
}

/* Conteneur principal en scroll vertical */
.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Sections = 1 écran complet */
section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  color: white;
  font-size: 1.8rem;
}

/* Styles spécifiques pour chaque page */
.intro {
  background: #1f1f1f;
}
.about {
  background: #2a2a2a;
}
.projects {
  background: #333;
}
.skills {
  background: #444;
}
.contact {
  background: #555;
}
