<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Aurélien Balavoine - SysAdmin | Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
<section class="intro">
  <div class="image-box">
    <img src="{{ url_for('static', filename='images/ubalavoine-left-rogned.jpeg') }}" alt="Image Intro">
  </div>
  <div class="content-box">
<h1>
  Aurél<span class="video-letter" style="color:#0a0a0a">
    __
    <video autoplay muted playsinline width="16" height="16" class="video-on-letter">
      <source src="{{ url_for('static', filename='images/i-letter.webm') }}" type="video/webm">
      Votre navigateur ne supporte pas la vidéo.
    </video>
  </span>en Balavoine
</h1>


    <p style="font-size: 40px;color:grey">Administrateur Systèmes et Réseaux & Auto-Entrepreneur<br>
  </div>

</section>

  <section class="about">
    <h1>À propos</h1>
  </section>

  <section class="projects">
    <h1>Projets</h1>
  </section>

  <section class="skills">
    <h1>Compétences</h1>
  </section>

  <section class="contact">
    <h1>Contact</h1>
  </section>
</div>

<script>
  const sections = document.querySelectorAll('section');
  let isScrolling = false;

  let currentSectionIndex = 0;

  window.addEventListener('wheel', (e) => {
    if (isScrolling) return;

    if (e.deltaY > 0 && currentSectionIndex < sections.length - 1) {
      currentSectionIndex++;
    } else if (e.deltaY < 0 && currentSectionIndex > 0) {
      currentSectionIndex--;
    } else {
      return;
    }

    isScrolling = true;
    sections[currentSectionIndex].scrollIntoView({ behavior: 'smooth' });

    setTimeout(() => {
      isScrolling = false;
    }, 1200); // Durée du scroll (ralenti)
  }, { passive: false });


</script>
</body>
</html>

